<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}img/favicon.ico">
    <title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {{ $style := resources.Get "css/main.css" | minify }}
    <link rel="preload stylesheet" href="{{ $style.RelPermalink }}" as="style">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old">
    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ $.Site.BaseURL}}{{ . }}">
    {{ end }}
    {{ range .Site.Params.custom_scss }}
    {{ $style := resources.Get . | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}
    {{ `<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->` | safeHTML }}

    {{- template "_internal/google_analytics_async.html" . }}
  </head>
  <body>
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
